# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ac
*autom4te.cache
src/aclocal.m4
src/compile
src/depcomp
src/install-sh
src/missing
src/stamp-h1
src/config.log
src/Makefile

# editor mess
*~

# genesis mess
src/liblist

